# Direnv setup for a dev environment with Nix.
# See ./nix/README.md for more info.
#
# If you'd like to use your own direnv file, you can
# stop git from tracking this file in your work tree and
# then customize it as you please.
#
# To stop tracking this file:
# > git update-index --skip-worktree .envrc
# To begin tracking again:
# > git update-index --no-skip-worktree .envrc
#
# If instead of completely ignoring this project wide .envrc file
# you'd like to insert your own environment customizations, then you
# can create an .envrc.local file that will be loaded.


# Minimizes the amount of log output coming from direnv
export DIRENV_LOG_FORMAT=

flake_dir=./nix

if type use_flake &>/dev/null; then
  if type watch_file &>/dev/null; then
    while IFS= read -r f; do
      watch_file "$flake_dir/${f#./}"
    done <<< "$(cd "$flake_dir" && git ls-files)"
  fi

  use flake "$flake_dir#dev"
else
  >&2 printf '\n!! Please install Nix to use this direnv config\n\n'
  exit 1
fi

# Load the user's .envrc.local file if it exists
source_env_if_exists .envrc.local
